.playlists__boxes {
  margin: 2rem 0 4rem 0;
}

.boxes__box {
  cursor: pointer;
  transition: padding 0.3s, background-color 0.3s;
  margin-bottom: .8rem;
}

.information__img {
  max-width: 6rem;
}

.information__img > img {
  border-radius: 0.4rem;
  float: left;
}

.information__text {
  margin: .8rem 0 0 .8rem;
  font-size: calc(0.2vw + 1.2rem);
  float: left;
}

.information__text > small {
  font-size: calc(0.2vw + 1rem);
  margin-top: 0.6rem;
  display: inline-block;
}

.boxes__box:hover {
  background-color: var(--color-slate-700);
  padding-right: 1rem;
  border-radius: 0.2rem;
}

.boxes__box .setting {
  float: right;
  line-height: 6rem;
}

.boxes__box::after{
  content: '';
  clear: both;
  display: block;
}
