.main {
  padding-bottom: 4rem;
}

.main__form-container {
  background-image: url("../../images/pattern.png");
  background-size: 10px 10px;
  padding: 2rem;
  margin: 0 auto;
  max-width: 40rem;
  border-radius: 0.7rem;
  text-align: center;
}

.form-container__forms {
  display: -ms-flexbox;
  display: -moz-box;
  overflow: hidden;
}

@supports (display: flex) {
  .form-container__forms {
    display: flex;
  }
}

.forms__form {
  min-width: 100%;
}

.forms__form > h2 {
  margin: 3rem 0 2rem 0;
}

.form__input-container {
  position: relative;
  margin-bottom: 3rem;
  width: 100%;
}

label {
  font-size: calc(0.2vw + 1.2rem);
}

.form__input-container > label {
  position: absolute;
  color: var(--color-slate-500);
  top: 50%;
  left: 0.4rem;
  transform: translate(0, -50%);
  transition: transform 0.3s;
}

.input-container__input {
  border-width: 0 0 1px 0;
  border-color: var(--color-slate-600);
  background-color: transparent;
  outline: none;
  padding: 0.8rem 0.4rem;
  font-size: calc(0.2vw + 1.2rem);
  width: 100%;
  color: var(--color-slate-300);
}

.input-container__input:focus + label {
  transform: translate(-4%, -180%);
  color: var(--color-slate-300);
}

.radios__radio > label {
  color: var(--color-slate-400);
}

.radios__radio > input {
  vertical-align: bottom;
  margin-left: 0.3rem;
}

.radios__radio {
  float: left;
  margin-left: 1rem;
}

.form__radios {
  width: 14rem;
  margin: 3rem auto;
}

.form__radios::after {
  content: "";
  clear: both;
  display: block;
}

.toggle-button,
.form__submit-btn {
  background-color: transparent;
  border: 0;
  font-size: calc(0.2vw + 1.1rem);
  color: var(--color-slate-400);
  border: 1px solid var(--color-slate-400);
  border-radius: 0.4rem;
  padding: 1rem;
  max-width: 12rem;
  width: 8rem;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.form-container__toggle-buttons {
  text-align: right;
}

.toggle-button:hover,
.form__submit-btn:hover {
  background-color: var(--color-slate-300);
  color: var(--color-slate-900);
}

.active-toggle {
  background-color: var(--color-slate-300);
  color: var(--color-slate-900);
}
