.help{
  padding: 10rem 0;
  width: max-content;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: .09rem;
  color: var(--color-slate-500);
}

.preloader-container{
  display: none;
}
