.details__image > img {
  border-radius: 0.4rem;
}

.details__description > h3 {
  text-align: center;
  font-size: calc(0.4vw + 1.5rem);
  font-weight: bold;
  margin: 2rem 0;
}

.description__lyrics {
  margin: 2rem 0;
}

.description__lyrics > h4 {
  font-size: calc(0.2vw + 1.8rem);
  text-align: center;
}

.description__lyrics > p {
  font-size: 1.45rem;
  line-height: 1.8;
  text-align: right;
  margin-top: 1rem;
}

.controls-container__controls {
  flex-pack: center;
  box-pack: center;
}

@supports (display: flex) {
  .controls-container__controls {
    justify-content: center;
  }
}
