.header {
  position: relative;
}

.header::after {
  clear: both;
  content: "";
  display: block;
}

.header__logo {
  max-width: 3.7rem;
  float: left;
}

.header__options {
  float: right;
  line-height: 3.5rem;
}

.options__input,
.header__input {
  color: var(--color-slate-200);
  border: 1px solid var(--color-slate-600);
  padding: 0.5rem 1rem;
  font-size: calc(0.3vw + 1.1rem);
  border-radius: 1.1rem;
  background-color: transparent;
  outline: none;
  display: none;
  transition: border 0.1s linear;
}

.header__input:focus,
.options__input:focus {
  border-color: var(--color-slate-400);
}

.options__input {
  animation: displayAnimation 0.3s;
  position: absolute;
  bottom: -2rem;
  right: 0;
}

.options__input::placeholder,
.header__input::placeholder {
  color: var(--color-slate-500);
}

.options__signin {
  font-size: 1.5rem;
  padding-right: 0.5rem;
  transition: color 0.3s;
  color: var(--color-slate-500);
  cursor: default;
}

/* .options__signin:hover { */
/*   color: var(--color-slate-400); */
/* } */

.options__search {
  font-size: 1.9rem;
  vertical-align: middle;
}

#search-toggle:checked + .options__input {
  display: block;
}
