/* Container styles */
.main-footer-container {
  min-height: calc(100vh - 13rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  padding: 1.5rem;
  min-height: 100vh;
}

/* main Section Styles */
.container__main {
  background-color: var(--color-slate-800);
  box-shadow: 5px 5px 10px var(--color-slate-900);
  overflow: hidden auto;
  /* Viewport height minus the paddings and the navbar height */
  max-height: calc(100vh - 4.5rem - 43px);
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  margin-top: 1.5rem;
  position: relative;
  /* transition: margin 0.3s; */
}

.section {
  margin-bottom: 4rem;
}

.main {
  padding-top: 3rem;
}

.section__title {
  float: left;
}

/* ***** Repeated Code! (For me) ******* */

.section__link {
  float: right;
  color: var(--color-slate-200);
  font-size: calc(0.3vw + 1.4rem);
}

.section__link:hover {
  color: var(--color-slate-400);
  transition: color 0.3s;
}
/* ************** */

.section__header::after {
  content: "";
  display: block;
  clear: both;
}

.section__content {
  /* For older Browsers */
  display: -moz-box;
  display: -ms-flexbox;
  box-orient: horizontal;
  padding: 1.5rem 0;
  overflow-x: auto;
  overflow-y: hidden;
}

/* not found message (p tag)*/
.content__not-found {
  font-size: calc(1vw + 1rem);
  color: var(--color-slate-400);
  margin: 4rem 0 2rem 0;
  text-align: center;
}

@supports (display: flex) {
  .section__content {
    display: flex;
  }
}

.music-card,
.artist-card {
  min-width: calc(50% - 1rem);
  max-width: 17rem;
}

/* Margins for All elements except last element */
.music-card:not(:last-child),
.artist-card:not(:last-child) {
  margin-right: 1rem;
}

.music-card__img {
  border-radius: 0.5rem;
}

.artist-card__img {
  border-radius: 50%;
}

.artist-card__informations {
  margin: 0.9rem 0 0 0;
}

.artist-card__informations {
  text-align: center;
}

.informations__music-name {
  text-overflow: ellipsis;
  width: calc(7vw + 6.5rem);
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  padding-bottom: 0.7rem;
}

.music-card__img-container,
.artist-card__img-container {
  cursor: pointer;
  position: relative;
}

.music-card__img-container::before,
.artist-card__img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  background-color: var(--color-slate-800);
}

.music-card__img-container:hover::before {
  background-color: var(--color-slate-900);
}

.music-card__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border: 0;
  background-color: var(--color-slate-900);
  width: 4rem;
  height: 4rem;
  text-align: center;
  line-height: 5rem;
  color: var(--color-slate-300);
  border-radius: 50%;
  overflow: hidden;
  animation: displayAnimation 0.3s;
}

.music-card__play-btn::after,
.control:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-end-end-radius: 100%;
  z-index: -1;
  width: 0%;
  height: 0%;
  transition: width 0.3s, height 0.3s;
}

.music-card__play-btn:hover::after,
.control:nth-child(2):hover::after {
  width: 70%;
  height: 70%;
}

.music-card__img-container:hover > .music-card__play-btn {
  display: block;
}

.purple {
  color: #c026d3;
}

.informations__music-name,
.informations__artist-name {
  font-size: calc(0.2vw + 1.2rem);
  display: block;
}

.informations__music-artist {
  font-size: calc(0.2vw + 1rem);
}

/* Customizing Scrollbars */
.container__main,
.section__content,
.playlists__container {
  scrollbar-width: thin;
  scrollbar-color: var(--color-slate-500) var(--color-slate-600);
}

.container__main::-webkit-scrollbar,
.section__content::-webkit-scrollbar,
.playlists__container::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.container__main::-webkit-scrollbar-track,
.section__content::-webkit-scrollbar-track,
.playlists__container::-webkit-scrollbar-track {
  background-color: var(--color-slate-600);
  border-radius: 2rem;
}

.container__main::-webkit-scrollbar-thumb,
.section__content::-webkit-scrollbar-thumb,
.playlists__container::-webkit-scrollbar-thumb {
  background-color: var(--color-slate-500);
  border-radius: 2rem;
}

/* Music Player Styles */
.container__music-player {
  --progress-width: 0%;
  display: none;
  position: fixed;
  background-color: var(--color-slate-900);
  z-index: 1;
  bottom: 3rem;
  right: 3rem;
  left: 3rem;
  max-height: 8rem;
  border-radius: 0.6rem;
  box-shadow: 3px 3px 10px var(--color-slate-900);
  min-height: 8rem;
}

.controls-container__description > small {
  display: none;
}

.music-player__controls-container {
  /* Supporting older Browsers */
  display: -ms-flexbox;
  display: -moz-box;
  -ms-flex-pack: justify;
  -ms-flex-align: center;
  box-pack: justify;
  box-align: center;
  padding: 0.5rem 0.7rem;
}

.music-player__controls-container .informations__music-name {
  margin-top: 0.8rem;
}

@supports (display: flex) {
  .music-player__controls-container,
  .music-card__informations {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.more__icon {
  cursor: pointer;
}

.image__music-img {
  max-width: 6rem;
  min-width: 6rem;
  min-height: 6rem;
  max-height: 6rem;
  float: left;
  border-radius: 0.5rem;
  margin-right: 1.5rem;
}

.controls-container__controls {
  font-size: calc(0.2vw + 1.9rem);
  display: -ms-flexbox;
  -ms-flex-align: center;
  box-pack: center;
  -ms-flex-pack: center;
  display: -moz-box;
  box-align: center;
  flex: 0 0 50%;
}

@supports (display: flex) {
  .controls-container__controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.control:nth-child(2) {
  background-color: var(--color-slate-800);
  overflow: hidden;
  position: relative;
  z-index: 0;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  margin-top: -0.8rem;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  box-align: center;
  box-pack: center;
}

@supports (display: flex) {
  .control:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.control:nth-child(2) > img {
  width: 3rem;
}

.setting:nth-child(3) {
  display: block;
}

.control,
.setting {
  cursor: pointer;
  margin-right: 1.5rem;
  font-weight: normal;
}

.setting {
  display: none;
  width: 1.7rem;
  height: 1.7rem;
}

.music-player__progress {
  position: relative;
  cursor: pointer;
  min-height: 0.3rem;
}

.music-player__progress:hover {
  min-height: 0.7rem;
}

.music-player__progress::before {
  position: absolute;
  content: "";
  border-radius: 0.4rem;
  transition: all 0.3s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: var(--progress-width);
  height: 100%;
  background-color: var(--color-slate-300);
}

.setting:nth-child(1) {
  position: relative;
}

.setting:nth-child(1):hover > .volume-container {
  display: -ms-flexbox;
  display: -moz-box;
}

@supports (display: flex) {
  .setting:nth-child(1):hover > .volume-container {
    display: flex;
  }
}

.volume-container > * {
  margin-right: 0.5rem;
}

.volume-container > img {
  width: 1.7rem;
  height: 1.7rem;
}

.volume-container {
  position: absolute;
  top: -3.5rem;
  left: -14rem;
  display: none;
  padding: 1rem;
  min-width: 19rem;
  border-radius: 0.4rem;
  box-shadow: 3px 3px 10px var(--color-slate-900);
  background-color: var(--color-slate-900);
}

/* Preloader Styles */
.preloader-container {
  position: fixed;
  top: 0;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-slate-900);
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  display: -moz-box;
  box-align: center;
  box-pack: center;
}

@supports (display: flex) {
  .preloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.preloader {
  border: 10px solid var(--color-slate-400);
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border-right: 10px solid var(--color-slate-600);
  animation: rotation 0.9s infinite alternate;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* alert Styles */
.alert-container {
  position: fixed;
  top: 2rem;
  right: 4rem;
  left: -100rem;
  transition: left 0.2s;
  font-size: 1.5rem;
  background-color: var(--color-slate-900);
  padding: 2rem;
  width: 90%;
  z-index: 3;
  box-shadow: 1px 1px 9px var(--color-slate-900);
  border-radius: 0.5rem;
}

.alert-container.active {
  left: 1.5rem;
}

.alert-container > img,
.alert-container > span {
  vertical-align: middle;
}

.alert-container > img.loading {
  animation: 0.5s rotation infinite linear;
}

.alert-container > img {
  margin-right: 0.5rem;
}

/* modal Styles */
.container__modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 2;
}

.modal {
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  border-radius: 0.6rem;
  background-color: var(--color-slate-900);
}

.modal__modal-header {
  font-size: 1.7rem;
  padding: 1.5rem;
  border-bottom: 1px solid var(--color-slate-600);
}

.modal__modal-body {
  width: 100%;
  padding: 1.5rem;
}

.modal-body__input {
  background-color: transparent;
  border: 1px solid var(--color-slate-600);
  border-radius: 0.4rem;
  padding: 0.9rem 0.8rem;
  outline: none;
  color: #fff;
  width: 100%;
}

.modal-body__input::-moz-placeholder {
  color: var(--color-slate-500);
}

.modal-body__input::placeholder {
  color: var(--color-slate-500);
}

.modal-footer__create-btn {
  background-color: transparent;
  border: 1px solid var(--color-slate-600);
  color: var(--color-slate-300);
  border-radius: 0.4rem;
  transition: background-color 0.3s;
  padding: 0.8rem 1.5rem;
  font-size: 1.4rem;
}

.modal-footer__create-btn:hover {
  background-color: var(--color-slate-600);
}

.modal__modal-header > a {
  float: right;
  margin-top: -2rem;
  font-size: 2.5rem;
}

.modal__modal-footer {
  padding-bottom: 1.5rem;
}
