/* Container styles */
.container {
  padding: 1.5rem;
  min-height: 100vh;
}

/* main Section Styles */
.container__main {
  background-color: var(--color-slate-800);
  box-shadow: 5px 5px 10px var(--color-slate-900);
  overflow: hidden auto;
  /* Viewport height minus the paddings and the navbar height */
  max-height: calc(100vh - 4.5rem - 43px);
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  margin-top: 1.5rem;
  position: relative;
  /* transition: margin 0.3s; */
}

.section {
  margin-bottom: 4rem;
}

.main {
  padding-top: 3rem;
}

.section__title {
  float: left;
}

/* ***** Repeated Code! (For me) ******* */

.section__link {
  float: right;
  color: var(--color-slate-200);
  font-size: calc(0.3vw + 1.4rem);
}

.section__link:hover {
  color: var(--color-slate-400);
  transition: color 0.3s;
}
/* ************** */

.section__header::after {
  content: "";
  display: block;
  clear: both;
}

.section__content {
  /* For older Browsers */
  display: box;
  display: flexbox;
  box-orient: horizontal;
  padding: 1.5rem 0;
  overflow: auto hidden;
}

@supports (display: flex) {
  .section__content {
    display: flex;
  }
}

.music-card,
.artist-card {
  min-width: calc(50% - 1rem);
}

/* Margins for All elements except last element */
.music-card:not(:last-child),
.artist-card:not(:last-child) {
  margin-right: 1rem;
}

.music-card__img {
  border-radius: 0.5rem;
}

.artist-card__img {
  border-radius: 50%;
}

.music-card__informations {
  margin: 0.9rem 0 0 0.5rem;
}

.artist-card__informations {
  margin: 0.9rem 0 0 0;
}

.artist-card__informations {
  text-align: center;
}

.informations__music-name {
  text-overflow: ellipsis;
  width: calc(7vw + 6.5rem);
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  padding-bottom: 0.7rem;
}

.music-card__img-container,
.artist-card__img-container {
  cursor: pointer;
  position: relative;
}

.music-card__img-container::before,
.artist-card__img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  background-color: var(--color-slate-800);
}

.music-card__img-container:hover::before {
  background-color: var(--color-slate-900);
}

.music-card__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
  display: none;
  border: 0;
  background-color: var(--color-slate-900);
  width: 4rem;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  color: var(--color-slate-300);
  border-radius: 50%;
  transition: color 0.3s, background-color 0.3s;
  animation: displayAnimation 0.3s;
}

.music-card__img-container:hover > .music-card__play-btn {
  display: block;
}

.music-card__play-btn:hover {
  color: var(--color-slate-900);
  background-color: var(--color-slate-300);
}

.purple {
  color: #c026d3;
}

/* .informations__artist-name { */
/*   /1* display: inline-block; *1/ */
/* } */

.informations__music-name,
.informations__artist-name {
  font-size: calc(0.2vw + 1.2rem);
}

.informations__music-artist {
  font-size: calc(0.2vw + 1rem);
  display: block;
}

/* Customizing Scrollbars */
.container__main,
.section__content {
  scrollbar-width: thin;
  scrollbar-color: var(--color-slate-500) var(--color-slate-600);
}

.container__main::-webkit-scrollbar,
.section__content::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.container__main::-webkit-scrollbar-track,
.section__content::-webkit-scrollbar-track {
  background-color: var(--color-slate-600);
  border-radius: 2rem;
}

.container__main::-webkit-scrollbar-thumb,
.section__content::-webkit-scrollbar-thumb {
  background-color: var(--color-slate-500);
  border-radius: 2rem;
}

/* Music Player Styles */
.container__music-player {
  position: fixed;
  background-color: var(--color-slate-900);
  z-index: 1;
  bottom: 2rem;
  right: 3rem;
  left: 2rem;
  max-height: 8rem;
  border-radius: 0.6rem;
  box-shadow: 3px 3px 10px var(--color-slate-900);
}

.music-player__controls-container {
  /* Supporting older Browsers */
  display: flexbox;
  display: box;
  flex-pack: justify;
  flex-align: center;
  box-pack: justify;
  box-align: center;
  padding: 0.5rem 0.7rem;
}

@supports (display: flex) {
  .music-player__controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.music-player__controls-container > img {
  max-width: 6rem;
  border-radius: 0.4rem;
}

.controls-container__controls {
  font-size: calc(0.2vw + 1.9rem);
  display: flexbox;
  display: box;
  flex-align: center;
  box-align: center;
}

@supports (display: flex) {
  .controls-container__controls {
    display: flex;
    align-items: center;
  }
}

.control:nth-child(2) {
  background-color: var(--color-slate-800);
  border-radius: 50%;
  font-size: calc(0.2vw + 2.8rem);
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  line-height: 4.5rem;
  transition: background-color 0.3s;
  margin-top: -0.8rem;
}

.control:nth-child(2):hover {
  background-color: var(--color-slate-300);
  color: var(--color-slate-900);
}

.setting:nth-child(3) {
  display: block;
}

.control,
.setting {
  cursor: pointer;
  margin-right: 1.5rem;
  font-weight: normal;
}

.setting {
  display: none;
  font-size: calc(0.2vw + 1.3rem);
}

.music-player__progress {
  position: relative;
  cursor: pointer;
  min-height: 0.25rem;
}

.music-player__progress::before {
  position: absolute;
  content: "";
  border-radius: 0.4rem;
  transition: width 0.3s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 20%;
  height: 100%;
  background-color: var(--color-slate-300);
}

.setting:nth-child(1) {
  position: relative;
}

.setting:nth-child(1):hover > .volume-container {
  display: flexbox;
  display: box;
}

@supports (display: flex) {
  .setting:nth-child(1):hover > .volume-container {
    display: flex;
  }
}

.volume-container > * {
  margin-right: 0.5rem;
}

.volume-container {
  position: absolute;
  top: -3.5rem;
  left: -14rem;
  display: none;
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow: 3px 3px 10px var(--color-slate-900);
  background-color: var(--color-slate-900);
}
