@media only screen and (min-width: 575.99px) {
  .navbar {
    column-count: 1;
    float: left;
    column-width: 5rem;
    min-height: calc(100vh - 3rem);
    padding: 2.5rem 0;
  }

  .details__image {
    width: 30vw;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .header {
    border-bottom: 1px solid var(--color-slate-600);
    padding-bottom: 2rem;
  }

  .navbar__item {
    margin-bottom: 3rem;
  }

  .navbar__item:first-child {
    display: block;
  }

  .container__main {
    min-height: calc(100vh - 3rem);
    margin: 0;
    margin-left: calc(50px + 2rem);
    padding: 2rem;
  }

  .options__search {
    display: none;
  }

  .header__input {
    display: inline-block;
    padding: 0.7rem 1rem;
    width: 55%;
    margin-top: 0.5rem;
  }

  .options__input {
    display: none !important;
  }

  .music-card,
  .artist-card {
    min-width: calc((100% / 3) - 1rem);
  }

  .setting {
    display: block;
  }

  .container__music-player {
    left: calc(5.5rem + 50px);
  }
}

@media only screen and (min-width: 850px) {
  .music-card,
  .artist-card {
    min-width: calc(100% / 4 - 1rem);
  }

  .music-player__controls-container {
    padding: 1rem 2.5rem 1rem 1.5rem;
    left: 3rem;
    right: 3.5rem;
  }

  .details__image{
    width: 25vw;
  }

}

@media only screen and (min-width: 1020px) {
  .music-card,
  .artist-card {
    min-width: calc(100% / 6 - 1rem);
  }

  .section__content {
    overflow: hidden;
  }

  .details__image {
    max-width: 30rem;
  }
}
