@media only screen and (min-width: 575.99px) {
  .navbar {
    column-count: 1;
    float: left;
    column-width: 5rem;
    min-height: calc(100vh - 3rem);
    padding: 2.5rem 0;
  }

  .details__image {
    float: left;
    width: 50%;
    margin: 0 1rem 0.5rem 0;
  }

  .header {
    border-bottom: 1px solid var(--color-slate-600);
    padding-bottom: 2rem;
  }

  .navbar__item {
    margin-bottom: 3rem;
  }

  .container__main {
    min-height: calc(100vh - 3rem);
    margin: 0 0 0 calc(50px + 2rem);
    padding: 2rem;
  }

  .options__search {
    display: none;
  }

  .header__input {
    display: inline-block;
    padding: 0.7rem 1rem;
    width: 55%;
    margin: 0.2rem 0 0 1rem;
  }

  .options__input {
    display: none !important;
  }

  .music-card,
  .artist-card {
    min-width: calc((100% / 3) - 1rem);
  }

  .setting {
    display: block;
    float: left;
    margin-right: 1.3rem;
  }

  .container__music-player {
    left: calc(5.5rem + 50px);
  }
}

@media only screen and (min-width: 850px) {
  .music-card,
  .artist-card {
    min-width: calc(100% / 4 - 1rem);
  }

  .music-player__controls-container {
    padding: 1rem 0rem 1rem 1rem;
  }

  .details__image {
    width: 30%;
  }
}

@media only screen and (min-width: 1020px) {
  .music-card,
  .artist-card {
    min-width: calc(100% / 5 - 1rem);
  }

  .details__image {
    max-width: 35rem;
  }
}

@media only screen and (min-width: 1200px) {
  .music-card,
  .artist-card {
    min-width: calc(100% / 6 - 1rem);
  }

  .artists-section,
  .allmusics-section,
  .playlists {
    flex-pack: start;
    box-pack: start;
  }

  @supports (display: flex) {
    .artists-section,
    .allmusics-section,
    .playlists {
      justify-content: start;
    }
  }
}
