.navbar {
  background-color: var(--color-slate-800);
  border-radius: 2rem;
  column-count: 4;
  padding: 1rem 0;
  box-shadow: 1px 1px 5px var(--color-slate-700);
  transition: padding 0.3s;
}

.navbar__item {
  text-align: center;
}

.navbar__item:first-child {
  display: none;
}

.navbar__item > a,
label {
  color: var(--color-slate-200);
  font-size: 1.9rem;
  text-shadow: 1px 1px 10px var(--color-slate-400);
}

.navbar__item span {
  display: none;
  animation: displayAnimation .3s;
}
