.help {
  padding: 10rem 0;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.09rem;
  color: var(--color-slate-500);
}  

.playlist__name {
  color: #fff;
  display: block;
  margin: 0.9rem 0 0 0.5rem;
  font-size: calc(0.3vw + 1.2rem);
}

.loadmore-container .load-more {
  display: block;
}

.music-card__img {
  width: 100%;
  aspect-ratio: 3/3;
}

.music-card__img-container{
  position: relative;
}

.img-container__more-options{
  position: absolute;
  top: 1rem;
  right: .5rem;
}

.music-card__img-container:hover > .img-container__more-options{
  display: block;
}

.img-container__more-options{
  display: none;
}

.form__input{
  border : 0;
  border-bottom: 1px solid var(--color-slate-500);
  background-color: transparent;
  outline: 0;
  transition: border-bottom .3s;
  padding : .7rem;
  color: var(--color-slate-300);
  width: 100%;
  font-size: 1.5rem;
}

.form__input:focus{
  border-color: var(--color-slate-300);
}

.form__input::placeholder{
  color: var(--color-slate-500);
}

.input-file-label input{
  position: absolute;
  top: -2000px;
}

.input-file-label {
  font-size: 1.4rem;
  background-color: var(--color-slate-900);
  padding: 1.4rem 2.5rem;
  border-radius: 5px;
  box-shadow: inset 2px -1px 5px var(--color-slate-800);
  margin : 1rem 0;
  display: inline-block;
}
